.App {
  font-family: sans-serif;
}

.filter {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
}

.placeholder {
  height: 300px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}